<section>
  <h2 id="createPost-title">Create New Post</h2>
<div class="col-md-3"></div>  
<div id="form-div" class="col-md-8">
  <form id="post-form" class="new-post-form">
    <div class="input-group">
      <span class="input-group-text">Post Title</span>
      <input type="text" aria-label="First name" class="form-control">
    </div>
    <div class="input-group">
      <span class="input-group-text">Post Details</span>
      <input type="text" aria-label="First name" class="form-control">
    </div>
    <button id="submit-post" type="submit" class="btn">Create</button>
  </form>
</div>  
</section>
<input type="hidden" id="user_id" value={{user_id}}>


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts}}
    <div class="d-flex mb-4">

      <div class="ms-3">
        <input type="hidden" id="post_id" value={{id}}>
        Post {{id}}
        <div class="fw-bold">>{{title}} </div>
        {{post_details}} <br> By
        {{user.first_name}}<br>
        this post has{{this.comment_count}} Comments<br>
        On {{format_date created_at}}<br>
        {{#if comments.length}}
        {{#each comments}}
        <div>

          <li>
            {{comment_text}} by {{user.first_name}}
          </li>
          <hr>

        </div>

        {{/each}}
        {{/if}}
      </div>
    </div>
    <div>
      <button type="submit" id='addCommentBtn'>Add comment</button>
      <button type="submit" id='editPostBtn'>Edit post</button>
    </div>
    <hr>

    {{/each}}
  </ol>
</section>
{{/if}}


<script src="/javascript/add-post.js"></script>