<div class="">
    <div class="ms-3">
        Post {{post.id}}
        <div class="fw-bold">{{post.title}} </div>
        {{post.post_details}} <br> By
        {{post.user.first_name}}<br>
        this post has{{post.comment_count}} Comments<br>
        On {{format_date post.created_at}}<br>
    </div>{{user_id}}
    {{#each post.comments}}
    <div>
       
        <li>
          {{comment_text}} by {{user.first_name}} 
        </li>
        <hr>
    </div>
    {{/each}}
    <input type="hidden" id="user_id" value={{user_id}}>

</div>
<section>
  <h2>Create New Comment</h2>

  <form class="comment-form">
  <div>
    <textarea name="comment-body" id='comment-text'></textarea>
  </div>

  <div>
    <button type="submit" id='addCommentBtn'>add comment</button>
    <button type="button" class="upvote-btn" id= 'likeBtn'>Like</button>
  </div>
</form>
<script src="/javascript/single-post.js"></script>

