<section class="container">
  <div class="col-sm">
      <input type="hidden" id="post_id" value={{id}}>
      <div class="card" style="width: 50rem;">
       
        <div class="card-body">
          <h4 class="card-header bg-transparent border-success h4" style="color:burlywood">{{post.title}}</h4>
          <p class="card-text"style="font-weight:bold"> <br>{{post.post_details}}</p>
          <p class="card-text" >By {{post.user.first_name}} On {{format_date created_at}}</p>  
          {{!-- <div class="card-footer"></div> --}}

        </div>
  
    {{#each post.comments}}
    <div>
       
        <li>
          {{comment_text}} by {{user.first_name}} 
        </li>
        <hr>
    </div>
    {{/each}}
    <input type="hidden" id="user_id" value={{user_id}}>

</div>
<section>
  <h2>Create New Comment</h2>

  <form class="comment-form">
  <div>
    <textarea name="comment-body" style="height: 14rem" id='comment-text'></textarea>
  </div>

  <div>
    <button type="submit" id='addCommentBtn'>add comment</button> </div><br>
    <button type="button" class="upvote-btn" id= 'likeBtn'> <a href='/' style="text-decoration: none;">Back to Posts</a></button>
  </div>
</form>
</section>
<script src="/javascript/single-post.js"></script>

